*{
    margin:0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding-left: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #343030;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #ded0d0;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}
.testimonial-box2{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: gray;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonial-box3{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonial-box4{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #5c5454;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonial-box5{
    width: 500px;
    height: 900px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.testimonial-box1{
    width: 700px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #6b04f1;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.user-name{
    display:flex;
    flex-direction: column;

}
.user-name strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.user-name span{
    color: #979797;
    font-size: 0.8rem;
}
.client-comment p h1{
font-size: 0.9rem;
color: #e9e1e1;
}
.client-comment p {
font-size: 0.9rem;
color: #a49e9e;
}